@import '../../style/style';

.container {

    @include box($color-primary, $color-secondary);
    border-radius: $border-radius-2;

    mat-vertical-stepper {
        background-color: transparent;
    }

    mat-expansion-panel {
        @include box(transparent, $color-ternary);
        margin: $margin-vertical-medium;
        padding: $padding-zero;
        mat-expansion-panel-header {
            mat-panel-title {
                align-items: center;
                white-space: nowrap;
                mat-icon {
                    margin-left: $margin-small
                }
            }
            mat-panel-description {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                overflow: inherit;
                .truncate-label {
                    display: flex;
                    text-overflow: ellipsis;
                    justify-content: flex-end;
                }
                .panel-description-buttons {
                    display: flex;
                }
            }
        }
    }
    
    .mat-form-field {
        width: 100%;
    }
    
    .mat-radio-group {
        display: flex;
        justify-content: space-around;
        
    }

    .question-answer-box {
        display: flex;
        align-items: baseline;
        mat-form-field, mat-radio-group {
            margin-left: $margin-small;
            mat-radio-button {
                margin-left: $margin-small;
            }
        };
    }

    .truncate-label {
        display: table;
        table-layout: fixed;
        width: 100%;
        white-space: nowrap;
        > * {
            display: table-cell;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: right;
        }
    }

    .alert-box {
        margin: $margin-vertical-medium;
        font-size: $font-small;
    }

    .notype-warning {
        width: 100%;
        text-align: center;
        white-space: nowrap;
        margin-left: $margin-medium;
    }

    .form-actions {
        box-shadow: none;
        border-width: 0px;
        margin: $margin-large;
        margin-top: $margin-medium;
        .buttons {
            display: flex;
            justify-content: flex-end;
        }
    }

}