@import '../../style/_style';

.container {
    width: 90%;
    margin: auto;

    mat-vertical-stepper {
        @include box($color-primary, $color-secondary);
    }

    mat-expansion-panel {
        background-color: transparent;
        border: 2px solid $color-ternary;
        margin: $margin-default-large;
        padding: $padding-little;
        box-shadow: $box-shadow;
        mat-expansion-panel-header {
            mat-panel-title {
                align-items: center;
            }
            mat-panel-description {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }
    }
    
    .mat-form-field {
        width: 100%;
    }
    .mat-radio-group {
        display: flex;
        justify-content: space-around;
    }

    .alert-box {
        margin: $margin-default-large;
        font-size: small;
    }

    .buttons button.mat-raised-button.mat-primary:not([disabled]) {
        @include button($color-ternary, $color-secondary);
        color: $color-dark;
        &:hover {
            border-color: $color-primary !important;
        }
    }

}