@import '../../style/_style';

.container {

    @include box($color-primary, $color-secondary);
    box-shadow: $box-shadow;

    mat-vertical-stepper {
        background-color: transparent;
    }

    mat-expansion-panel {
        background-color: transparent;
        border: 1px solid $color-ternary;
        margin: $margin-default-large;
        padding: 0px;
        box-shadow: $box-shadow;
        mat-expansion-panel-header {
            mat-panel-title {
                align-items: center;
                white-space: nowrap;
            }
            mat-panel-description {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }
    }
    
    .mat-form-field {
        width: 100%;
    }
    .mat-radio-group {
        display: flex;
        justify-content: space-around;
        
    }

    .question-answer-box {
        display: flex;
        align-items: baseline;
        mat-form-field, mat-radio-group {
            margin-left: $margin-little;
            mat-radio-button {
                margin-left: $margin-little;
            }
        };
        button {
            text-align: left;
        };
    }

    .truncate-label {
        display: table;
        table-layout: fixed;
        width: 100%;
        white-space: nowrap;
        > * {
            display: table-cell;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: right;
        }
    }

    .alert-box {
        margin: $margin-default-large;
        font-size: small;
    }

    .notype-warning {
        width: 100%;
        text-align: center;
    }

    .form-actions {
        box-shadow: none;
        border-width: 0px;
        margin: $margin-large * 2;
        margin-top: $margin-large;
        .buttons {
            display: flex;
            justify-content: flex-end;
        }
    }

}