
<div class="container">

    <h1>Crea un nuovo quiz</h1>

    <form>

        <!-- Quiz title -->
        <label>
            Titolo del quiz
            <input type="text">
        </label>
        <!-- /Quiz title -->
        <br>
        <!-- Quiz description -->
        <label>
            Descrizione del quiz
            <input type="text">
        </label>
        <!-- /Quiz description -->
        <br>
        <!-- Quiz type -->
        <label>
            Tipo di quiz
            <select>
                <option>Scelta libera</option>
                <option>Vero o falso</option>
            </select>
        </label>
        <!-- /Quiz type -->
        <hr>
        <!-- Quiz questions -->
        <label>
            Domande del quiz
        </label>
        <!-- /Quiz questions -->
        <hr>
        <!-- Quiz results -->
        <label>
            Risultati del quiz
        </label>
        <!-- /Quiz results -->

    </form>
</div>