
<div class="container">

    <h1>Crea un nuovo quiz</h1>

    <form [formGroup]="quiz" (ngSubmit)="onSubmit()">

        <mat-vertical-stepper linear>
            <mat-step [completed]="true || quiz.get('settings').valid">
                <!-- Stepper label -->
                <ng-template matStepLabel>Impostazioni</ng-template>
                <!-- /Stepper label -->
                <!-- Quiz settings -->
                <div [formGroup]="quiz.get('settings')" class="settingsBox">
                    <mat-form-field>
                        <mat-label>Titolo</mat-label>
                        <input matInput formControlName="title" [errorStateMatcher]="errorMatcher" required matTooltip="Inserisci il titolo che avrà il tuo quiz">
                        <mat-error *ngIf="quiz.get('settings').get('title').invalid">{{quiz.get('settings').get('title').errors.validText.text}}</mat-error>
                    </mat-form-field>
                    
                    <mat-form-field>
                        <mat-label>Tipologia</mat-label>
                        <mat-select formControlName="type" (selectionChange)="onChangeQuizType()" [errorStateMatcher]="errorMatcher" required matTooltip="Scegli il tipo di quiz che vuoi creare">
                            <ng-container *ngFor="let option of quizTypes">
                                <mat-option [value]="option">{{quizTypesMap[option]}}</mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-error *ngIf="quiz.get('settings').get('type').invalid">{{quiz.get('settings').get('type').errors.validQuizType.text}}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Descrizione</mat-label>
                        <textarea matInput formControlName="description" [errorStateMatcher]="errorMatcher" required matTooltip="Inserisci una descrizione introduttiva il tuo quiz"></textarea>
                        <mat-error *ngIf="quiz.get('settings').get('description').invalid">{{quiz.get('settings').get('description').errors.validText.text}}</mat-error>
                    </mat-form-field>
                </div>
                <!-- /Quiz settings -->
                <!-- Stepper info -->
                <div class="alert-box">
                    <i *ngIf="quiz.get('settings').invalid">Inserisci le informazioni necessarie per il quiz prima di continuare.</i>
                </div>
                <!-- /Stepper info -->
                <!-- Stepper buttons -->
                <div class="buttons">
                    <button mat-stroked-button matStepperNext type="button"
                        [disabled]="false && quiz.get('settings').invalid" 
                    ><mat-icon>navigate_next</mat-icon>Avanti</button>
                </div>
                <!-- /Stepper buttons -->
            </mat-step>            
            <mat-step>
                <!-- Stepper label -->
                <ng-template matStepLabel>Domande</ng-template>
                <!-- /Stepper label -->
                <!-- Quiz questions -->
                <questions-tree
                    [quizFormModel]="quiz"
                    [quizBuilders]="quizBuilders"
                    [handleAnswersValue]="handleAnswersValue"
                ></questions-tree>
                <!-- /Quiz questions -->
                <!-- Stepper info -->
                <div class="alert-box">
                    <i *ngIf="quiz.get('questions').invalid && quiz.get('questions').length === 0">Aggiungi delle domande al quiz prima di continuare.</i>
                    <i *ngIf="quiz.get('questions').invalid && quiz.get('questions').length > 0">Hai ancora {{getInvalidFormControlsNumber(quiz.get('questions'))}} su {{quiz.get('questions').length}} domande da completare prima di continuare.</i>
                </div>
                <!-- /Stepper info -->
                <!-- Stepper buttons -->
                <div class="buttons">
                    <button mat-stroked-button matStepperPrevious type="button"><mat-icon>navigate_before</mat-icon>Indietro</button>
                    <button mat-stroked-button matStepperNext type="button"><mat-icon>navigate_next</mat-icon>Avanti</button>
                </div>
                <!-- /Stepper buttons -->
            </mat-step>

            <mat-step>
                <!-- Stepper label -->
                <ng-template matStepLabel>Risultati</ng-template>
                <!-- /Stepper label -->
                <!-- Quiz results -->
                <div formArrayName="answers" class="answerBox">
                    <div class="buttons">
                        <button mat-stroked-button (click)="handleAnswers.addNew()" type="button"><mat-icon>add</mat-icon>Aggiungi risultato</button>
                        <button *ngIf="quiz.get('answers').length > 0" mat-stroked-button (click)="resultsAccordion.openAll()" type="button"><mat-icon>expand_more</mat-icon>Espandi tutto</button>
                        <button *ngIf="quiz.get('answers').length > 0" mat-stroked-button (click)="resultsAccordion.closeAll()" type="button" class="red"><mat-icon>expand_less</mat-icon>Chiudi tutto</button>
                    </div>
                    <mat-accordion [multi]="true" #resultsAccordion="matAccordion">
                        <ng-container *ngFor="let answer of quiz.get('answers').controls; let i = index">
                            <mat-expansion-panel [expanded]="true" [hideToggle]="true">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Risultato {{i+1}}/{{quiz.get('answers').controls.length}}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <span>{{answer.get('title').value}}</span>
                                        <button mat-icon-button (click)="handleAnswers.remove(i)" type="button"><mat-icon>delete</mat-icon></button>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div [formGroup]="answer">
                                    
                                    <mat-form-field>
                                        <mat-label>Titolo</mat-label>
                                        <input type="text" formControlName="title" matInput [errorStateMatcher]="errorMatcher" required matTooltip="Dai un titolo a questo risultato">
                                        <mat-error *ngIf="!answer.get('title').valid">{{answer.get('title').errors.validText.text}}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Valore</mat-label>
                                        <input type="text" formControlName="value" matInput (keyup)="handleAnswersValue.updateSuggestedValues(answer.get('value').value)" [matAutocomplete]="auto" [errorStateMatcher]="errorMatcher" required matTooltip="Inserisci il valore corrispondente a questo risultato">
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option *ngFor="let option of handleAnswersValue.suggestedValues" [value]="option">
                                              {{option}}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-error *ngIf="!answer.get('value').valid">{{answer.get('value').errors.validText.text}}</mat-error>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Descrizione</mat-label>
                                        <textarea formControlName="description" matInput [errorStateMatcher]="errorMatcher" matTooltip="Fornisci una descrizione del risultato"></textarea>
                                        <mat-error *ngIf="!answer.get('description').valid">{{answer.get('description').errors.validText.text}}</mat-error>
                                    </mat-form-field>
                                </div>
                            </mat-expansion-panel>
                        </ng-container>
                    </mat-accordion>
                </div>
                <!-- /Quiz results -->
                <!-- Stepper info -->
                <div class="alert-box">
                    <i *ngIf="quiz.get('answers').invalid && quiz.get('answers').length === 0">Aggiungi dei risultati al quiz prima di continuare.</i>
                    <i *ngIf="quiz.get('answers').invalid && quiz.get('answers').length > 0">Hai ancora {{getInvalidFormControlsNumber(quiz.get('answers'))}} su {{quiz.get('answers').length}} risultati da completare prima di continuare.</i>
                </div>
                <!-- /Stepper info -->
                <!-- Stepper buttons -->
                <div class="buttons">
                    <button mat-stroked-button matStepperPrevious type="button"><mat-icon>navigate_before</mat-icon>Indietro</button>
                </div>
                <!-- Stepper buttons -->
            </mat-step>
        </mat-vertical-stepper>
    </form>

        <!-- Form actions -->
        <div class="buttons">
            <button mat-raised-button (click)="onSubmit()" color="primary" [disabled]="quiz.invalid">Invia</button>
        </div>
        <!-- /Form actions -->

</div>