
<div class="container">
    <nav>
        <div>
            <h1 routerLink="/">{{title}}</h1>
        </div>
        
        <div>
            <ul>
                <li routerLinkActive="active">
                    <mat-icon>details</mat-icon>
                    <a routerLink='create'>{{'quizCreate' | i18nSelect: langMap }}</a>
                </li>
                <li routerLinkActive="active">
                    <mat-icon>details</mat-icon>
                    <a routerLink='list'>{{'quizList' | i18nSelect: langMap }}</a>
                </li>
                <li routerLinkActive="active">
                    <mat-icon>details</mat-icon>
                    <a routerLink='launch'>{{'quizLoad' | i18nSelect: langMap }}</a>
                </li>
            </ul>
        </div>

        <div class="links">
            <a href="https://github.com/lgcolella/Quizzer" tabindex="0" target="_blank">
                <span>
                    <img src="../../assets/images/github-circle-white-transparent.svg">
                </span>
            </a>
            <button mat-button [matMenuTriggerFor]="menu">{{'language' | i18nSelect: langMap }}...</button>
            <mat-menu #menu="matMenu">
                <button *ngFor="let lang of availableLangs" (click)="changeLanguage(lang.value)" mat-menu-item>
                    <span>
                        <img [src]="'../../assets/images/flag-' + lang.value + '.png'">
                        {{lang.name}}
                    </span>
                </button>
            </mat-menu>
        </div>
    </nav>

    <nav class="links">
        <ul>
            <li routerLinkActive="active"><a routerLink='create'>{{'quizCreate' | i18nSelect: langMap }}</a></li>
            <li routerLinkActive="active"><a routerLink='list'>{{'quizList' | i18nSelect: langMap }}</a></li>
            <li routerLinkActive="active"><a routerLink='launch'>{{'quizLoad' | i18nSelect: langMap }}</a></li>
        </ul>
    </nav>
</div>