@import '../../style/_style';

.container {
    width: 100%;
    @include box($color-secondary, $color-secondary);
    border-width: 0px;

    nav {
        width: 80%;
        margin: auto;
        display: flex;
        align-items: center;
    
        div {
            &:first-child {
                width: 30%;
            }
            &:last-child {
                width: 70%;
            }
        }

        h1 {
            margin: 0px;
            &:hover {
                cursor: pointer;
            }
        }
    
        ul {
            list-style: none;
            float: right;
            margin: 0px;
            height: 50px;
            li {
                float: left;
                height: 100%;
                transition: $transition;
                &:hover, &.active {
                    background-color: $color-ternary;
                    color: $color-dark;
                }
                a {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    padding: 0px $padding-little;
                    color: $color-primary;
                    text-decoration: none;
                    transition: $transition;
                }
            }
        }
        
    }
}