@import '../../style/_variables';
@import '../../style/_mixins';
@import '../../style/_breakpoints';

.container {
    @include box($color-ternary, $color-ternary);
    color: $color-primary;
    margin-top: 0px;
    width: 100%;
    border-width: 0px;
    border-bottom: 3px solid $color-primary;

    nav {
        width: 80%;
        padding: $padding-vertical-small;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            margin: 0px;
            &:hover {
                cursor: pointer;
            }
            &:focus {
                outline: none;
            }
        }
    
        ul {
            @include breakpoint-desktop(){
                display: flex;
            };
            display: none;
            list-style: none;
            margin: $margin-zero;
            flex-direction: row;
            padding: $padding-horizontal-medium;
            li {
                padding-right: $padding-medium;
                display: flex;
                align-self: center;
                align-items: center;
                justify-content: center;
                mat-icon {
                    visibility: hidden;
                    margin: $margin-zero $margin-small / 2;
                    transform: rotate(270deg);
                }
                a {
                    height: 100%;
                    width: 100%;
                    padding: $padding-vertical-small;
                    color: inherit;
                    text-decoration: none;
                    text-align: center;
                    white-space: nowrap;
                }
                &:hover mat-icon, &.active mat-icon {
                    display: inline-block;
                    visibility: visible;
                }
            }
        }
        
    }

    nav.links {
        @include breakpoint-desktop(){
            display: none;
        };
        width: 100%;
        justify-content: center;
        padding: $padding-zero;
        ul {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: $padding-zero;
            li {
                width: 100%;
                margin: $margin-zero;
                border-radius: $border-radius;
                transition: background $transition;
                &:hover, &.active {
                    background-color: $color-secondary;
                    background-image: url($texture-1);
                }
            }
        }
    }
}