
<div class="dialog-form">

    <div mat-dialog-content [formGroup]="inputControl.parent">
        <mat-form-field>
            <mat-label>Valore</mat-label>
            <input matInput [formControl]="inputControl" matTooltip="Inserisci il valore della risposta" [errorStateMatcher]="errorMatcher">
            <mat-error *ngIf="inputControl.invalid">{{inputControl.errors.validAnswerValue && inputControl.errors.validAnswerValue.text}}</mat-error>
        </mat-form-field>
    </div>

    <div mat-dialog-actions class="buttons">
        <button mat-button (click)="onClose()">Ok</button>
    </div>

</div>