
<div class="dialog-form">

    <div mat-dialog-content [formGroup]="inputControl.parent">
        <mat-form-field>
            <mat-label>{{languageMap['inputQuestionAnswerValueLabel']}}</mat-label>
            <input matInput [formControl]="inputControl" [matTooltip]="tooltipText" [errorStateMatcher]="errorMatcher">
            <mat-error *ngIf="inputControl.invalid">{{inputControl.errors.validAnswerValue && languageMap[inputControl.errors.validAnswerValue.text]}}</mat-error>
        </mat-form-field>
    </div>

    <div mat-dialog-actions class="buttons">
        <button mat-button (click)="onClose()">{{languageMap['ok']}}</button>
    </div>

</div>