@import '../../../style/_style';
.tree-invisible {
    display: none;
}

.mat-tree {
    background-color: transparent;
}
  
.tree ul,
.tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    background-color: $color-primary;

    &.tree-node-with-childs {
        border: 2px solid $color-ternary;
        margin: $margin-default-large;
        padding: $padding-little;
        box-shadow: $box-shadow;
    }

    .tree-node-child {
        padding: 0.5em 0em;
        margin-left: 6em;
    }

    mat-form-field, .form-field {
        width: 100%;
        margin-right: 20px;
    }

    mat-radio-group {
        display: flex;
        justify-content: center;
        mat-radio-button {
            margin-right: 8px;
        }
    }

}