
<div class="container">

    <div class="sub-container">
        <h1>{{curQuiz.settings.title}}</h1>
    </div>

    <i *ngIf="quizState === quizAvailableStates.STARTED">Domanda {{curQuestionIndex + 1}} / {{curQuiz.questions.length}}</i>        
    <hr>
    
    <ng-container [ngSwitch]='quizState'>
        <div class="sub-container">
            <!-- Intro Quiz -->
            <div *ngSwitchCase='"ready"' class="intro">
                <p>{{curQuiz.settings.description}}</p>
                <div *ngIf="curQuiz.settings.imageUrl" class="thumbnail">
                    <img [src]="curQuiz.settings.imageUrl">
                </div>
            </div>
            <!-- /Intro Quiz -->
    
            <!-- Quiz Question Box -->
            <div *ngSwitchCase='quizAvailableStates.STARTED'>
                <p>{{curQuiz.questions[curQuestionIndex].text}}</p>
                <mat-radio-group [value]="givenUserAnswers[curQuestionIndex]">
                    <ng-container *ngFor='let obj of curQuiz.questions[curQuestionIndex].answers'>
                        <mat-radio-button [name]='curQuiz.title' (click)='selectAnswer(obj.value)' selected="false">
                            {{obj.text}}
                        </mat-radio-button>
                    </ng-container>
                </mat-radio-group>
            </div>
            <!-- /Quiz Question Box -->
        
            <!-- Quiz result -->
            <div *ngSwitchCase='quizAvailableStates.FINISHED' id='resultQuiz' class="result">
                <h2>{{curQuizResult.title}}</h2>
                <p>{{curQuizResult.description}}</p>
            </div>
            <!-- /Quiz result -->

            <!-- Preload pictures of the results during the test -->
            <ng-container *ngIf="quizState !== quizAvailableStates.READY">
                <div class="result">
                    <div 
                        *ngFor="let result of curQuiz.answers" class="thumbnail"
                        [class.hidden]="!(quizState === quizAvailableStates.FINISHED && curQuizResult.imageUrl === result.imageUrl)"
                    >
                        <img [src]="result.imageUrl">
                    </div>
                </div>                    
            </ng-container>
            <!-- /Preload pictures of the results during the test -->
        </div>
    </ng-container>

    <hr>

    <ng-container [ngSwitch]='quizState'>
        <div class="sub-container">
            <div class="buttons">
                <label class="mat-button">
                    <span class="mat-button-wrapper">
                        <mat-icon>cloud_upload</mat-icon> Carica nuovo
                        <input type='file' (change)='uploadQuiz($event)'>
                    </span>
                </label>
                <button mat-button *ngSwitchCase='quizAvailableStates.READY' [disabled]='submitButtonIsDisabled' (click)='onSubmit()'><mat-icon>play_arrow</mat-icon>Inizia il test</button>
                <button mat-button *ngSwitchCase='quizAvailableStates.STARTED' [disabled]='submitButtonIsDisabled' (click)='onSubmit()'><mat-icon>check</mat-icon>Ok</button>
                <button mat-button *ngSwitchCase='quizAvailableStates.FINISHED' [disabled]='submitButtonIsDisabled' (click)='onSubmit()'><mat-icon>refresh</mat-icon>Ricomincia</button>
            </div>
        </div>
    </ng-container>

</div>