
<div class="container" *ngIf='quizState' [@quizStateAnimation]='quizState' [@questionChangeAnimation]='curQuestionIndex'>
    
    <div [ngSwitch]='quizState'>

            <!-- Quiz boot -->
            <div *ngSwitchCase='quizAvailableStates.BOOT'>
                <h1>{{languageMap['whatQuizDoYouWantPlay']}}</h1>
                <hr>
                <div class="boot buttons">
                    <div class="action">
                        <button mat-button routerLink='/list'><mat-icon>list</mat-icon>{{languageMap['listQuiz']}}</button>
                        <p>{{languageMap['listQuizLabel']}}</p>
                    </div>
                    <div class="action">
                        <button mat-button (click)='loadRandomQuiz()'><mat-icon>shuffle</mat-icon>{{languageMap['randomQuiz']}}</button>
                        <p>{{languageMap['randomQuizLabel']}}</p>
                    </div>
                    <div class="action">
                        <label class="mat-button">
                            <span class="mat-button-wrapper">
                                <mat-icon>cloud_upload</mat-icon>{{languageMap['loadQuiz']}}
                                <input type='file' (change)='uploadQuiz($event)'>
                            </span>
                        </label>
                        <p>{{languageMap['loadQuizLabel']}}</p>
                    </div>
                </div>
            </div>
            <!-- /Quiz boot -->

            <!-- Quiz header -->
            <div *ngIf='quizState !== quizAvailableStates.BOOT'>
                <h1>{{curQuiz.settings.title}}</h1>
                <i *ngSwitchCase='quizAvailableStates.STARTED'>{{languageMap['question']}} {{curQuestionIndex + 1}} / {{curQuiz.questions.length}}</i>        
                <hr>
            </div>
            <!-- /Quiz header -->

            <!-- Intro Quiz -->
            <div *ngSwitchCase='quizAvailableStates.LOADED' class="intro">
                <p>{{curQuiz.settings.description}}</p>
                <div *ngIf="curQuiz.settings.imageUrl" class="thumbnail">
                    <img [src]="curQuiz.settings.imageUrl">
                </div>
            </div>
            <!-- /Intro Quiz -->
    
            <!-- Quiz Question Box -->
            <div *ngSwitchCase='quizAvailableStates.STARTED' id='quiz-questions'>
                <p>{{curQuiz.questions[curQuestionIndex].text}}</p>
                <mat-radio-group [value]="givenUserAnswers[curQuestionIndex]">
                    <ng-container *ngFor='let obj of curQuiz.questions[curQuestionIndex].answers'>
                        <mat-radio-button [name]='curQuiz.title' (change)='selectAnswer(obj.value)' [value]="obj.value">
                            {{obj.text}}
                        </mat-radio-button>
                    </ng-container>
                </mat-radio-group>
            </div>
            <!-- /Quiz Question Box -->

            <!-- Preload pictures of the results during the test -->
            <ng-container *ngIf="quizState !== quizAvailableStates.BOOT">
                <div 
                    *ngFor="let result of curQuiz.answers" class="result-thumbnail"
                    [class.hidden]="!(quizState === quizAvailableStates.FINISHED && curQuizResult.imageUrl === result.imageUrl)"
                >
                    <img [src]="result.imageUrl">
                </div>
            </ng-container>
            <!-- /Preload pictures of the results during the test -->

            <!-- Quiz result -->
            <div *ngSwitchCase='quizAvailableStates.FINISHED' id='quiz-result'>
                <h2>{{curQuizResult.title}}</h2>
                <p>{{curQuizResult.description}}</p>
            </div>
            <!-- /Quiz result -->

    </div>

    <ng-container>
        <div class="footer" *ngIf='quizState !== quizAvailableStates.BOOT'>
            <hr>
            <div class="buttons" [ngSwitch]='quizState'>
                <button mat-button (click)='resetBoot()'><mat-icon>format_list_bulleted</mat-icon>{{languageMap['anotherQuiz']}}</button>
                <button mat-button *ngSwitchCase='quizAvailableStates.LOADED' (click)='onSubmit()'><mat-icon>play_arrow</mat-icon>{{languageMap['startQuiz']}}</button>
                <button mat-button *ngSwitchCase='quizAvailableStates.STARTED' [disabled]='submitButtonIsDisabled' (click)='onSubmit()'><mat-icon>check</mat-icon>{{languageMap['ok']}}</button>
                <button mat-button *ngSwitchCase='quizAvailableStates.FINISHED' [disabled]='submitButtonIsDisabled' (click)='onSubmit()'><mat-icon>refresh</mat-icon>{{languageMap['restartQuiz']}}</button>
            </div>
        </div>
    </ng-container>

</div>