@import '../../style/_style';

.container {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    padding: 5% 2%;
    @include box($color-primary, $color-secondary);

    h1, h2, h3, h4, h5, h6 {
        color: $color-dark;
    }

    ul {
        list-style: none;
    }
}