@import '../../style/_variables';
@import '../../style/_mixins';
@import '../../style/_breakpoints';

.container {

    @include box($color-primary, $color-secondary);
    padding: $padding-zero $padding-medium $padding-medium $padding-medium;
    border-radius: $border-radius-2;
    overflow: 'hidden';

    h1, h2, h3, h4, h5, h6 {
        color: $color-dark;
        margin: $margin-medium;
        text-align: center;
    }

    p {
        text-align: center;
    }
    i {
        text-align: left;
        display: block;
        margin-top: $margin-small;
    }

    .boot {
        display: flex;
        flex-direction: column;
        margin: $margin-large $margin-medium;
        & .action {
            display: flex;
            align-items: center;
            .mat-button {
                width: 200px;
                margin-right: $margin-medium;
            }
        }
    }

    .intro {
        padding: $padding-medium;
        p {
            margin-top: $margin-zero;
        }
    }

    .thumbnail, .result-thumbnail {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex: 1 1 auto;
        img {
            max-width:100%;
            @include breakpoint-desktop() {
                max-height: 400px;
            }
        }
    }

    .result-thumbnail {
        padding: $padding-small $padding-small $padding-zero $padding-small;
    }

    #quiz-questions {
        overflow: hidden;
        mat-radio-group {
            display: flex;
            flex-flow: wrap;
            mat-radio-button {
                flex: 100%;
            }
        }
    }

    #quiz-result {
        padding: $padding-small $padding-small $padding-zero $padding-small;
        h2 {
            margin: $margin-zero;
        }
    }

    .footer .buttons {
        display: flex;
        justify-content: space-between;
        margin: $margin-medium 0;
    }


}