<!-- Load Quiz options -->
    <div class='container quiz-loader-container'>
        <input type='file' (change)='uploadQuiz($event)'>
    </div>
<!-- /Load Quiz options -->

<div class='container'>
    
    <div class="sub-container">
        <h1>{{curQuiz.settings.title}}</h1>
        <i *ngIf="quizState === 'started'">Domanda {{curQuestionIndex + 1}} / {{curQuiz.questions.length}}</i>
    </div>

    <ng-container [ngSwitch]='quizState'>
        <div class="sub-container">
            <!-- Intro Quiz -->
            <div *ngSwitchCase='"ready"'>
                <p>{{curQuiz.settings.description}}</p>
            </div>
    
            <!-- Quiz Question Box -->
            <div *ngSwitchCase='"started"'>
                <p>{{curQuiz.questions[curQuestionIndex].text}}</p>
                <mat-radio-group [value]="givenUserAnswers[curQuestionIndex]">
                    <ng-container *ngFor='let obj of curQuiz.questions[curQuestionIndex].answers'>
                        <mat-radio-button [name]='curQuiz.title' (click)='selectAnswer(obj.value)' selected="false">
                            {{obj.text}}
                        </mat-radio-button>
                    </ng-container>
                </mat-radio-group>
            </div>
        
            <!-- Quiz result -->
            <div *ngSwitchCase='"finished"' id='resultQuiz'>
                <h4>{{curQuizResult.title}}</h4>
                <p>{{curQuizResult.description}}</p>
            </div>
        </div>
    </ng-container>

    <ng-container [ngSwitch]='quizState'>
        <div class="sub-container">
            <div class="buttons">
                <button mat-stroked-button *ngSwitchCase='"ready"' [disabled]='submitButtonIsDisabled' (click)='onSubmit()'><mat-icon>play_arrow</mat-icon>Inizia il test</button>
                <button mat-stroked-button *ngSwitchCase='"started"' [disabled]='submitButtonIsDisabled' (click)='onSubmit()'><mat-icon>check</mat-icon>Ok</button>
                <button mat-stroked-button *ngSwitchCase='"finished"' [disabled]='submitButtonIsDisabled' (click)='onSubmit()'><mat-icon>refresh</mat-icon>Ricomincia</button>
            </div>
        </div>
    </ng-container>

</div>