@import '../../style/_style';

.container {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    padding: 5% 2%;
    @include box($color-primary, $color-secondary);

    ul {
        list-style: none;
    }
}