
.container {
    width: 80%;
    @include breakpoint-desktop() {
        width: 65%;
    }
    margin: auto;
    margin-top: $margin-large;
    margin-bottom: $margin-large;
    box-shadow: $box-shadow;
    overflow: auto;
    background-image: url($texture-2);
}

.buttons {
    margin: $margin-vertical-small;
    display: flex;
    label, button {
        @include button($color-gray-light, $color-ternary, $color-dark);
        margin-right: 5px;
        &.red {
            @include button($color-gray-light, $color-quaternary, $color-dark);
            &:hover {
                @include button($color-quaternary, $color-quaternary, $color-light);
            }
        }
    }
    label {
        input[type="file"] {
            display: none;
        }
        &:hover {
            background-color: rgba(0,0,0,.12);
        }
    }
}