
.container {
    width: 80%;
    @include breakpoint-desktop() {
        width: 55%;
    }
    margin: auto;
    margin-top: $margin-large;
    margin-bottom: $margin-large;
    box-shadow: $box-shadow;
    overflow: auto;
}

.buttons {
    margin: $margin-vertical-small;
    display: flex;
    label, button {
        @include button($color-gray-light, $color-ternary, $color-dark);
        margin-right: 5px;
        &.red {
            @include button($color-gray-light, $color-quaternary, $color-dark);
            &:hover {
                @include button($color-quaternary, $color-quaternary, $color-light);
            }
        }
    }
    label {
        > span {
            display: inline-block;
            mat-icon {
                margin-right: $margin-small / 2;
            }
            input[type="file"] {
                display: none;
            }
        }
        &:hover {
            background-color: rgba(0,0,0,.12);
        }
    }
}

.hidden {
    display: none !important;
}