
@mixin box($background-color, $border-color) {
    font-family: inherit;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background-color: $background-color;
    box-shadow: $box-shadow-2;
}

@mixin button($color, $border, $text) {
    border: 1px solid $border;
    border-radius: $border-radius-small;
    background-color: $color;
    color: $text;
    font-family: inherit;
    transition: $transition;
    box-shadow: $box-shadow;
    &[disabled], &:hover[disabled] {
        border-color: $color-gray-dark;
        background-color: $color-gray-dark !important;
        &:hover {
            cursor: not-allowed;
        }
    }
}